@charset "UTF-8";

body{
    background-image: url('kepek/rozsaszin.jpg');
}
main{
    max-width: 600px;
    margin: auto;
    background-color: #f9dae2;
    border: 5px solid #f8f1f2;
    padding: 10px;
    text-align: center;
    color: #581a2c;
}
footer,section,article{
    border: 1px solid #dbb1bd;
    padding: 10px;
    text-align: center;
}
/*ce6681*/
fieldset div{
    display: grid;
    grid-template-columns:110px auto;
}

label{
    text-align: right;
    padding-right: 5px;
}
fieldset,input{
    border-color: #bd8293;
}
input{
    margin-bottom: 5px;
}
#OK{
    background-color: #dbb1bd;
    font-weight: bold;
    padding: 5px;
}
#torol{
    background-color: #f9dae2;
    font-weight: bold;
    padding: 5px;
}
table{
    margin: auto;
    border-collapse: collapse;
}
td,th{
    border: 2px solid #bd8293;
    border-collapse: collapse;
    padding: 10px;
}
.torolgomb{
    border: none;
}
th:hover, #OK:hover, #torol:hover{
    cursor: pointer;
}